<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10-组件通信-父子组件双向绑定通信案例</title>
</head>
<body>
    <div id="app">
        <cpn :number1='num1' :number2='num2'
        @num1change = 'num1change' @num2change = 'num2change'></cpn>
    </div>
    <template id="cpn">
        <div>
            <h2>双向绑定</h2>
            <h3>props: {{number1}}</h3>
            <h3>data: {{dataNumber1}}</h3>
            <!-- <input type="text" v-model='dataNumber1' name="" id=""><br> -->
            <!-- 使用 :value 值进行 双向绑定 -->
            <input type="text" :value='dataNumber1' @input='num1input'> 使用 :value @input 进行双向绑定
            <hr>
            <h3>props: {{number2}}</h3>
            <h3>data: {{dataNumber2}}</h3>
            <!-- <input type="text" v-model='dataNumber2' name="" id="">使用v-model双向绑定<br> -->
            <!-- <input type="text" :value='dataNumber2' @input='dataNumber2 = $event.target.value' name="" id=""> 使用 :value @input 进行双向绑定 -->
            <input type="text" :value='dataNumber2' @input='num2input' name="" id=""> 使用 :value @input 进行双向绑定
        </div>
        
    </template>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    const app = new Vue({
        el:"#app",
        data:{
            num1:1,
            num2:0
        },
        methods: {
            num1change(value){
               // this.num1 = value * 1 // 转化number数字类型
               // this.num1 = parseInt(value) // 转化number数字类型
                this.num1 = parseFloat(value) // 转化number数字类型
                console.log( typeof value) // string类型
            },
            num2change(value){
                this.num2 = parseFloat(value) // 转化number数字类型
            }
        },
        components:{
            cpn:{
                template:"#cpn",
                props: {
                    number1:Number,
                    number2:Number
                },
                data() {
                    return {
                        // 返回修改的值
                        dataNumber1: this.number1,
                        dataNumber2: this.number2,
                    }
                },
                methods: {
                    num1input(event){
                        // 将input中的value 赋值到dataNumber1中
                        this.dataNumber1 = event.target.value;
                        // 自定义事件  为了让父组件可以修改值，发出一个事件
                        this.$emit('num1change',this.dataNumber1);

                        // 同时修饰dataNumber2 的值
                        this.dataNumber2 = this.dataNumber1 * 100;
                        this.$emit('num2change', this.dataNumber2)

                    },
                    num2input(){
                        this.dataNumber2 = event.target.value;
                        // 自定义事件
                        this.$emit('num2change',this.dataNumber2);
                    }
                },
            }
        }
    })
</script>