<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model结合radio类型</title>
</head>
<body>
    <div id="app">
        <input type="radio" value="男"  v-model='sex'>男
        <br>
        <input type="radio" value="女" v-model='sex'>女

        <h3>你输入的性别是：{{sex}}</h3>
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    const app = new Vue({
        el:"#app",
        data:{
            sex:''
        }
    })
</script>